<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

  .font-jersey {

    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }


  .md-content .katex-display {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .md-content .katex-display>.katex {
    display: inline-block;
    max-width: 100%;
  }

  .swup-transition-fade {
    opacity: 1;
    transition: 300ms ease-in-out;
  }

  .is-animating .swup-transition-fade {
    opacity: 0;
  }

  .swup-transition-fade {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }

  html.is-animating .swup-transition-fade {
    opacity: 0;
  }

  html.is-animating {
    cursor: progress;
  }

  html.is-leaving .swup-transition-fade {
    opacity: 0;
  }
</style>
