<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>

  <body
    class="min-h-screen flex flex-col bg-black font-jersey text-white text-3xl"
  >
    <header>{{ partial "header.html" . }}</header>

    <main class="flex-1 w-full">
      <div id="swup" class="swup-transition-fade">
        <div
          class="max-w-3xl lg:max-w-6xl xl:max-w-7xl mx-auto px-5 sm:px-8 lg:px-10 py-10 lg:py-16"
        >
          {{ block "main" . }}{{ end }}
        </div>
      </div>
    </main>

    <footer>{{ partial "footer.html" . }}</footer>
  </body>
</html>
